[Unit]
Description=Create BTRFS swapfile
ConditionPathExists=!/var/swap/swapfile
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/bash -c ' \
  SIZE=$(awk "/MemTotal/ {printf \"%%dG\", $2/1024/1024/2}" /proc/meminfo); \
  btrfs subvolume create /var/swap; \
  semanage fcontext -a -t var_t /var/swap; \
  restorecon /var/swap; \
  btrfs filesystem mkswapfile --size $SIZE /var/swap/swapfile; \
  semanage fcontext -a -t swapfile_t /var/swap/swapfile; \
  restorecon /var/swap/swapfile; \
  echo "/var/swap/swapfile none swap defaults 0 0" >> /etc/fstab; \
  swapon /var/swap/swapfile'

[Install]
WantedBy=multi-user.target
