[Unit]
Description=Update Rime Config
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rime-conf.sh

[Install]
WantedBy=default.target