[Unit]
Description=Update Rime Frost
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rime-frost.sh

[Install]
WantedBy=default.target